<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>活动详情</title>
    <link rel="stylesheet" href="../../zhstatic/css/eventDetail.min.css">
</head>
<body>
<nav></nav>
<div class="main-container">
    <div class="banner">
        <p class="layout">
            <span><i></i><em>1</em></span>
            <span><i></i><em>12</em></span>
        </p>
    </div>
    <div class="layout">
        <h4>浙江杭州九树公寓建筑设计招标</h4>
        <ul class="list">
            <li>时间：</li>
            <li>地点：</li>
            <li>主讲人：</li>
            <li>主办方：</li>
            <li>联系电话：</li>
            <li>名额：</li>
            <li>价格：</li>
        </ul>
        <h5>主讲介绍</h5>
        <div class="task-txt">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem nisi, distinctio odit eaque, quis tenetur ad
            animi architecto, recusandae accusantium mollitia vero nihil esse molestiae beatae delectus quos dignissimos
            quia.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque cum, iusto praesentium, repudiandae
            possimus voluptas. Ad numquam rem laudantium enim qui explicabo est doloremque aut iste. In nesciunt modi
            accusamus.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut numquam ratione animi fugit eum, eaque
            consectetur voluptatibus rerum dolorem, sapiente ullam, doloribus consequuntur minus libero similique sit
            labore? Quasi, assumenda!
        </div>

        <div class="users clearfix">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <div class="tc mt30">
            <a href="javasript:;" class="enter">报名</a>
        </div>
        <h5 class="comment">发表评论</h5>
        <div class="login">登录为</div>
        <div class="content clearfix">
            <img src="" alt="">
            <textarea></textarea>
        </div>
        <div class="pub clearfix">
            <a href="javascript:;" class="submit">发布</a>

        </div>
        <div class="commentList">
            <h4>3评论</h4>
            <div class="userlist clearfix">
                <img src="" alt="">
                <div class="date">
                    <p>方志东 2016-08-19,20:49</p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolorem facere ea modi qui
                    dolore id deleniti, aliquid architecto aspernatur culpa, at repellendus minima! Eveniet eligendi
                    quaerat minus culpa mollitia.
                </div>
            </div>
            <div class="commentLists clearfix">
                <img src="" alt="">
                <div class="date">
                    <p>ZhangChi 2016-08-19,09:01</p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi hic labore qui atque iste, tempora
                    blanditiis. Velit saepe, quia, excepturi soluta id minima consequuntur maiores porro et, dolores
                    doloribus facere.
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="../../zhstatic/js/lib/jquery.min.js"></script>

    <script src="../../zhstatic/js/page/activityDetail.js"></script>
</body>
</html>