<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
			<script type="text/javascript" src="js/jquery-1.12.3.min.js" ></script>
			<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
			<script src="js/bootstrap.js"></script>
			<script type="text/javascript" src="js/jquery-1.12.3.min.js"></script>
			<script type="text/javascript" src="js/script.js"></script>
			<link rel="stylesheet" type="text/css" href="css/style.css">
		<style>
			.sy_logo_jzyqw{
				    color: #ff6f05;
		    font-size: 1.1em;
		    font-weight: 300;
			}
		</style>
</head>
<body>
	<nav class='navbar navbar-default nav_ps'>
	</nav>
	<script>
		$(function(){
			$(".navbar").load("nav.html")
		})
	</script>
	<div class="tdxq_header">
		<img src="img/dtxqheader.png" />
		<div class="tdxq_header_position">
			<div class="tdxq_header_position_title">
				<div><span class="zpxq_head_title">美国西山教育中心</span></div>
				<div>
					<ul class="zpxq_ul">
						<li>评论数：</li>
						<li><span class="pinglunliang">121</span></li>
						<li>点击量：</li>
						<li><span class="liulanliang">122</span></li>
					</ul>					
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="row zpxq_libiao_ul" style="position: relative;padding-bottom: 40px;">
			<div class="col-md-4">
				<ul class="xgzllbul" style="margin-top: 20px;">
					<li>
						<span class="zpxq_libiao_title" >简介</span>
					</li>
					<li>
						<span class="zpyyg1">国家</span>
						<span>：</span>
						<span>中国</span>
					</li>
					<li>
						<span class="zpyyg1">省/区</span>
						<span>：</span>
						<span>浙江省</span>
					</li>
					<li>
						<span class="zpyyg1">城市</span>
						<span>：</span>
						<span>杭州</span>
					</li>
					<li>
						<span class="zpyyg1">区位</span>
						<span>：</span>
						<span>之江度假区</span>
					</li>
					<li>
						<span class="zpyyg1">品类</span>
						<span>：</span>
						<span>住宅</span>
					</li>
					<li>
						<span class="zpyyg1">细分</span>
						<span>：</span>
						<span>平层公寓</span>
					</li>
					<li>
						<span class="zpyyg1">定位</span>
						<span>：</span>
						<span>高端</span>
					</li>
					<li>
						<span class="zpyyg1">客户</span>
						<span>：</span>
						<span>王世妮</span>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="xgzllbul" style="margin-top: 20px;">
					<li>
						<span class="zpxq_libiao_title">指标</span>
					</li>
					<li>
						<span class="zpyyg2">占地面积</span>
						<span>：</span>
						<span>3万</span>
					</li>
					<li>
						<span class="zpyyg2">建筑面积</span>
						<span>：</span>
						<span>浙江省</span>
					</li>
					<li>
						<span class="zpyyg2">地下面积</span>
						<span>：</span>
						<span>杭州</span>
					</li>
					<li>
						<span class="zpyyg2">容积率</span>
						<span>：</span>
						<span>0.8</span>
					</li>
					<li>
						<span class="zpyyg2">建筑密度</span>
						<span>：</span>
						<span>住宅</span>
					</li>
					<li>
						<span class="zpyyg2">绿化率</span>
						<span>：</span>
						<span>平层公寓</span>
					</li>
					<li>
						<span class="zpyyg2">户数</span>
						<span>：</span>
						<span>高端</span>
					</li>
					<li>
						<span class="zpyyg2">停车</span>
						<span>：</span>
						<span>王世妮</span>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="xgzllbul"  style="margin-top: 20px;">
					<li>
						<span class="zpxq_libiao_title">产品</span>
					</li>
					<li>
						<span class="zpyyg1">地形</span>
						<span>：</span>
						<span>山地</span>
					</li>
					<li>
						<span class="zpyyg1">高度</span>
						<span>：</span>
						<span>5层</span>
					</li>
					<li>
						<span class="zpyyg1">风格</span>
						<span>：</span>
						<span>现代</span>
					</li>
					<li>
						<span class="zpyyg1">户型</span>
						<span>：</span>
						<span>450-600</span>
					</li>
					<li>
						<span class="zpyyg1">精装</span>
						<span>：</span>
						<span>住宅</span>
					</li>
					<li>
						<span class="zpyyg1">绿建</span>
						<span>：</span>
						<span>平层公寓</span>
					</li>
				</ul>
			</div>
			<div class="clear"></div>
			<div class="col-md-4">
				<ul class="xgzllbul">
					<li>
						<span class="zpxq_libiao_title">开发</span>
					</li>
					<li>
						<span class="zpyyg2">总投资</span>
						<span>：</span>
						<span></span>
					</li>
					<li>
						<span class="zpyyg2">周期</span>
						<span>：</span>
						<span>2005-2007</span>
					</li>
					<li>
						<span class="zpyyg2">单方售价</span>
						<span>：</span>
						<span></span>
					</li>
					<li>
						<span class="zpyyg2">单方成本</span>
						<span>：</span>
						<span></span>
					</li>
					<li>
						<span class="zpyyg2">采购</span>
						<span>：</span>
						<span></span>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="xgzllbul">
					<li>
						<span class="zpxq_libiao_title">团队</span>
					</li>
					<li>
						<span class="zpyyg2">开发商</span>
						<span>：</span>
						<span>郡原地产</span>
					</li>
					<li>
						<span class="zpyyg2">建筑设计</span>
						<span>：</span>
						<span>大卫·奇普菲尔德</span>
					</li>
					<li>
						<span class="zpyyg2">景观设计</span>
						<span>：</span>
						<span></span>
					</li>
					<li>
						<span class="zpyyg2">室内设计</span>
						<span>：</span>
						<span>DAC</span>
					</li>
					<li>
						<span class="zpyyg2">销售</span>
						<span>：</span>
						<span></span>
					</li>
					<li>
						<span class="zpyyg2">运营</span>
						<span>：</span>
						<span></span>
					</li>
				</ul>
			</div>
			<div class="col-md-4 tuanduiimg">
				<ul class="xgzllbul">
					<li>
						<span class="zpxq_libiao_title">相关文档</span><span><img src="img/tianjiawendang.png" onclick="fileSelect();" class="zpxq_djsc" style="width: 27px;height: 27px; float: right;"></span>
						 <form id="zpxq_xgwd_form" enctype="" style="width:auto;">
						  <input type="file" name="fileToUpload" id="fileToUpload" onchange="fileSelected();" style="display:none;">
						 </form>
						  <script type="text/javascript">
						    function fileSelect() {
						        document.getElementById("fileToUpload").click(); 
						    }
						    
						    function fileSelected() {
						      alert(发送成功)
						    }
						  </script>
						<div class="clear"></div>
					</li>
					<li>
						<span><img src="img/v1.png"></span>
						<span>《室内景观设计图》</span>
						<a><span><span class="zpxq_jf">5.5币</span><img src="img/v5.png" style="width: 16px;height: 16px;"/></span></a>
					</li>
					<li>
						<span><img src="img/v1.png"></span>
						<span>《室内景观设计图》</span>
						<a><span><span class="zpxq_jf">5.5币</span><img src="img/v5.png" style="width: 16px;height: 16px;"/></span></a>
					</li>
					<li>
						<span><img src="img/v1.png"></span>
						<span>《室内景观设计图》</span>
						<a><span><span class="zpxq_jf">5.5币</span><img src="img/v5.png" style="width: 16px;height: 16px;"/></span></a>
					</li>
					<li>
						<span><img src="img/v1.png"></span>
						<span>《室内景观设计图》</span>
						<a><span><span class="zpxq_jf">5.5币</span><img src="img/v5.png" style="width: 16px;height: 16px;"/></span></a>
					</li>
					<li>
						<span><img src="img/v1.png"></span>
						<span>《室内景观设计图》</span>
						<a><span><span class="zpxq_jf">5.5币</span><img src="img/v5.png" style="width: 16px;height: 16px;"/></span></a>
					</li>
				</ul>
			</div>
			<div class="wendangxiala"><a class="dianjixiangxai"><img src="img/xiangxia.png" style="width: 25px;height: 14px;"/></a></div>
			
		</div>
		<div class="row xgwd_jiazaikuai" style="position: relative;">
			<div class="col-md-4">
				<ul class="xgzllbul">
					<li>规划</li>
					<li>
						<span><img src="img/v2.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v2.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v2.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v2.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="xgzllbul">
					<li>建筑</li>
					<li>
						<span><img src="img/v2.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v2.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v2.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v2.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="xgzllbul">
					<li>景观</li>
					<li>
						<span><img src="img/v2.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v2.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v2.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v2.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
				</ul>
			</div>
			<div class="clear"></div>
			<div class="col-md-4">
				<ul class="xgzllbul">
					<li>室内</li>
					<li>
						<span><img src="img/v2.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v2.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v2.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v2.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="xgzllbul">
					<li>灯光</li>
					<li>
						<span><img src="img/v2.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v2.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v2.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v2.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="xgzllbul">
					<li>墙幕</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="xgzllbul">
					<li>人防</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="xgzllbul">
					<li>策划定位报告</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="xgzllbul">
					<li>产品线标准</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="xgzllbul">
					<li>开发计划</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="xgzllbul">
					<li>采购清单</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="xgzllbul">
					<li>工程联系单</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="xgzllbul">
					<li>后评估报告</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
					<li>
						<span><img src="img/v3.png"></span>
						<span>《室内景观设计图》</span>
						<span></span>
					</li>
				</ul>
			</div>
			<div class="wendangshangla"><a class="dianjixiangshang"><img src="img/xiangshang.png" style="width: 25px;height: 14px;"/></a></div>
		</div>		
	</div>
	
	<script>
				$(".dianjixiangxai").click(function(){
					$(".xgwd_jiazaikuai").show("slow");
					$(".dianjixiangxai").hide("slow");
				});
				$(".dianjixiangshang").click(function(){
					$(".xgwd_jiazaikuai").hide("slow");
					$(".dianjixiangxai").show("slow");
				})
	</script>
	<div class="content">
		<div class="zpxq_dt_tittle">文章</div>
		<div class="row zpxq_wz_dianjijiazai" style="border-bottom: 1px solid #CCCCCC; padding-bottom: 40px;height: 215px;overflow: hidden;">				
			
		</div>
		<div class="zpxq_djjzgd"><a style="color: white;">更多</a></div>
		<script>
			$(".zpxq_djjzgd").click(function(){
				if($(".zpxq_wz_dianjijiazai").height()==124){
					$(".zpxq_wz_dianjijiazai").css("height","100%");
					$(".zpxq_djjzgd a").html("没有更多了")
				}else{
					$(".zpxq_wz_dianjijiazai").css("height","215px");
				}
			})
		</script>
	</div>
	<script>
		 $.ajax({
                    type:'GET',
                    url:'json/wenzhang.json',
                    dataType:'json',
                    data:'data',
                    success:function(data) {
	                    	for(var i=0;i<data.length;i++){
	                    		$(".zpxq_wz_dianjijiazai").append('<div class="wzmk1" style="margin: 10px -15px;"><img src="'+data[i].img+'" /></div><div class="wzmk2"  style="margin: 10px 0px 10px 5%;"><div class="zpxq_wz_tittle">'+data[i].tittle+'</div><div class="zpxq_wz_time">'+data[i].time+'</div><div class="zpxq_wz_content">'+data[i].content+'</div></div><div class="clear"></div>')	
	                    	}		
                    }
                   })
	</script>
	<div class="content">
		<div class="row zpxq_xgtp">
			<ul class="zpxq_xgtp1">
				<li>
					<div class="zpxq_xgtptittle">建筑</div>
					<div class="zpxq_xgtp1_img"><a><img src="img/xiangguantupian.png"/></a></div>
					<div class="zpxq_xgtp1_img"><a><img src="img/xiangguantupian.png"/></a></div>
					<div class="zpxq_xgtp1_img"><a><img src="img/xiangguantupian.png"/></a></div>
					<div class="zpxq_xgtp1_img"><a><img src="img/xiangguantupian.png"/></a></div>
					<div class="zpxq_xgtp1_img"><a><img src="img/xiangguantupian.png"/></a></div>
					<div class="zpxq_xgtp1_img"><a><img src="img/xiangguantupian.png"/></a></div>
					<div class="zpxq_xgtp1_img"><a><img src="img/xiangguantupian.png"/></a></div>
					<div class="zpxq_xgtp1_img"><a><img src="img/xiangguantupian.png"/></a></div>
					<div class="zpxq_xgtp1_img"><a><img src="img/xiangguantupian.png"/></a></div>
					<div class="zpxq_xgtp1_img"><a><img src="img/xiangguantupian.png"/></a></div>
					<div class="zpxq_xgtp1_img"><a><img src="img/xiangguantupian.png"/></a></div>
					<div class="zpxq_xgtp1_img"><a><img src="img/xiangguantupian.png"/></a></div>
					<div class="zpxq_xgtp1_img"><a><img src="img/xiangguantupian.png"/></a></div>
					<div class="zpxq_xgtp1_img"><a><img src="img/xiangguantupian.png"/></a></div>
					<div class="zpxq_xgtp1_img"><a><img src="img/xiangguantupian.png"/></a></div>
					<div class="zpxq_xgtp1_img"><a><img src="img/xiangguantupian.png"/></a></div>
					<div class="zpxq_xgtp1_img"><a><img src="img/zpxqtianjia.png"/></a></div>
				</li>
				<div class="clear"></div>
				<li>
					<div class="zpxq_xgtptittle">景观</div>
					<div class="zpxq_xgtp1_img"><a><img src="img/xiangguantupian.png"/></a></div>
					<div class="zpxq_xgtp1_img"><a><img src="img/zpxqtianjia.png"/></a></div>
				</li>
					<div class="clear"></div>
				<li>
					<div class="zpxq_xgtptittle">室内</div>
					<div class="zpxq_xgtp1_img"><a><img src="img/xiangguantupian.png"/></a></div>
					<div class="zpxq_xgtp1_img"><a><img src="img/zpxqtianjia.png"/></a></div>
				</li>
				<div class="clear"></div>
			</ul>	
		</div>
	</div>
		<div class="row dtxq_pinglunquyu">
			<div style="font-size: 20px;">发表评论</div>
			<div style="font-size: 14px;margin-top: 10px;margin-bottom: 15px;">登陆为<span class="dlwyhm">XXXXXXX</span></div>
			<div>
				<img src="img/yonghu.png" style="float: left;"/>
				<textarea class="dtxq_plnr"></textarea>
			</div>
			<div><button class="dtxq_fban">发布</button></div>
		</div>
		<div class="row dtxq_pinglunquyu">
			<div>N条评论</div>
			<div class="dtxq_plzs">
				<div>					
					<div class="dtxq_yhtx"><img src="img/yonghu.png"/></div>
					<div class="dtxq_plxx">
						<div><span class="dtxq_yhmc">方志东</span><span class="dtxq_plsj">2016-08-09,20:40</span></div>
						<div class="dtxq_plcontent">阿斯顿节阿喀琉斯点解啊看似简单可拉家带口拉家带口拉家带口拉萨觉得卡拉三季度来看</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="dtxq_plzs">
				<div>					
					<div class="dtxq_yhtx"><img src="img/yonghu.png"/></div>
					<div class="dtxq_plxx">
						<div><span class="dtxq_yhmc">方志东</span><span class="dtxq_plsj">2016-08-09,20:40</span></div>
						<div class="dtxq_plcontent">阿斯顿节阿喀琉斯点解啊看似简单可拉家带口拉家带口拉家带口拉萨觉得卡拉三季度来看</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer style="margin-top: 200px;">
	<div class="beian">关于我们 | ©2010-2016 居屋网 | 京ICP备10044767号 | 京公网安备11010102000560号</div>		
	</footer>
</body>
</html>
