<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>作品详情</title>
	<link rel="stylesheet" href="../../zhstatic/css/pubActivity.min.css">
</head>
<body>
<nav></nav>
<div class="main-container layout">
	<div id="coverImg" class="cover-img">请添加封面图（支持5M以内的JPG、GIF、PNG图片、建议尺寸1000*562PX</div>
	<div class="mini-layout">
		<div class="from-group">
			<input class="input-title" type="text" placeholder="请输入标题">
		</div>
		<div class="from-group">
			<label for="area"><em>所在地：</em><input id="area" type="text"></label>
			<label for="address"><em>活动地点：</em><input id="address" type="text"></label>
		</div>
		<div class="from-group">
			<label for="date"><em>活动时间：</em><input id="date" type="text"></label>
			<label for="cost">
				<em>费用：</em>
				<input id="cost" type="text" placeholder="设置活动积分">
				<a href="javascript:;" class="J_viewCost">费用是什么？</a>
			</label>
		</div>
		<div class="from-group">
			<label for="speaker"><em>主讲人：</em><input id="speaker" type="text"></label>
			<label for="phone"><em>联系方式：</em><input id="phone" type="text"></label>
			<label for="sponsor" class="mt30"><em>举办方：</em><input id="sponsor" type="text"></label>
		</div>
		<div class="speaker clearfix">
			<div class="title">主讲人简介</div>
			<div class="fl">
				<div class="speaker-title"></div>
				<div id="avatarImg" class="avatar-img">
					请添加主讲人头像
				</div>
			</div>
			<div class="fl ml10">
				<div class="speaker-title">简介</div>
				<textarea id="introduce" name=""></textarea>
				<div class="speaker-title">演讲摘要</div>
				<textarea id="info" name=""></textarea>
			</div>
		</div>

		<div class="tc mt30">
			<a href="javascript:;" class="submit">发布</a>
			<a href="javascript:;" class="back">返回列表</a>
		</div>

	</div>
</div>

<div id="costModal" class="modal-container hide">
	<div class="modal-shadow">
		<div class="modal-content">
			<div class="modal-head"></div>
			<div class="modal-body">
				<h5>费用是什么？</h5>
				<p>它可以根据文档你的财富值标价</p>
				<h5>如果用户没有屋币怎么办？</h5>
				<p>将提醒。。。</p>
			</div>
			<div class="modal-footer">
				<a href="javascript:;" class="modal-close">我知道了</a>
			</div>

		</div>
	</div>
</div>


<script src="../../zhstatic/js/require.js" data-main="../../zhstatic/js/common"></script>
<script>
	require(['common'], function () {
		require(['page/pubActivity']);
	});
</script>
</body>
</html>