<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="js/jquery-1.12.3.min.js" ></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<script src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/jquery-1.12.3.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<style>
	.sy_logo_jzyqw{
		    color: #ff6f05;
    font-size: 1.1em;
    font-weight: 300;
	}
</style>
</head>
<body>
	<nav class='navbar navbar-default nav_ps' style="background: rgba(255,255,255,0);">
	</nav>
	<script>		
		$(function(){
			$(".navbar").load("nav.html")
		})
		$(".nav_ps").mouseover(function(){
		    $(".nav_ps").css("background","rgba(255,255,255,0.7)");
		    $("#navdenglu").css("color","black");
		    $("#navzhuce").css("color","black")
		});
		$(".nav_ps").mouseout(function(){
		    $(".nav_ps").css("background","rgba(255,255,255,0.0)");
		    $("#navdenglu").css("color","white");
		    $("#navzhuce").css("color","white")
		});

	</script>
	<div class="tdxq_header">
		<img src="img/dtxqheader.png" />
		<div class="tdxq_header_position">
			<div class="tdxq_header_position_title">
				<span class="dtxq_position_tittle">楼奥平原总风吹，丹麦学生公寓获得XXX建筑设计大奖</span>
			</div>
			<div class="tdxq_header_position_gz plandyd">
				<span><img src="img/pinglunpic.png"></span>
				<span class="pinlunshuliang">121</span>
				<span><img src="img/yueduliangpic.png"></span>
				<span class="yuedushuliang">212</span>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="row">
			<div></div>
			<div>
				<ul class="hdxq_jbxx">
					<li><span>基本信息</span></li>
					<li><span>时间：</span></li>
					<li><span>地点：</span></li>
					<li><span>主讲人：</span></li>
					<li><span>主办方：</span></li>
					<li><span>联系方式：</span></li>
					<li><span>名额：</span></li>
					<li><span>价格：</span></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div>主讲人介绍</div>
			<div class="dtxq_neirong">
				ssssssssssssssssssssssssssssssssssss
			</div>
		</div>
		<div class="row">
			<ul class="hdxq_bmtx">
				<li><img src="img/tuandui.png"/></li>
				<li><img src="img/tuandui.png"/></li>
				<li><img src="img/tuandui.png"/></li>
				<li><img src="img/tuandui.png"/></li>
				<li><img src="img/tuandui.png"/></li>
				<li><img src="img/tuandui.png"/></li>
				<li><img src="img/tuandui.png"/></li>
				<li><img src="img/tuandui.png"/></li>
				<li><img src="img/tuandui.png"/></li>
				<li><img src="img/tuandui.png"/></li>
				<li><img src="img/tuandui.png"/></li>
				<li><img src="img/tuandui.png"/></li>
			</ul>
		</div>
		<div class="hdxq_djbmbb"><button class="hdxq_djbm">报名</button></div>
		<div class="row dtxq_pinglunquyu">
			<div>发表评论</div>
			<div>登陆为XXXX</div>
			<div>
				<img src="img/yonghu.png" style="margin-top: -156px;"/>
				<textarea class="dtxq_plnr"></textarea>
			</div>
			<div><button class="dtxq_fban">发布</button></div>
		</div>
		<div class="row dtxq_pinglunquyu">
			<div>N条评论</div>
			<div class="dtxq_plzs">
				<div>					
					<div class="dtxq_yhtx"><img src="img/yonghu.png"/></div>
					<div class="dtxq_plxx">
						<div><span class="dtxq_yhmc">方志东</span><span class="dtxq_plsj">2016-08-09,20:40</span></div>
						<div class="dtxq_plcontent">阿斯顿节阿喀琉斯点解啊看似简单可拉家带口拉家带口拉家带口拉萨觉得卡拉三季度来看</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="dtxq_plzs">
				<div>					
					<div class="dtxq_yhtx"><img src="img/yonghu.png"/></div>
					<div class="dtxq_plxx">
						<div><span class="dtxq_yhmc">方志东</span><span class="dtxq_plsj">2016-08-09,20:40</span></div>
						<div class="dtxq_plcontent">阿斯顿节阿喀琉斯点解啊看似简单可拉家带口拉家带口拉家带口拉萨觉得卡拉三季度来看</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hdxqdjbm">
		<div style="margin-bottom: 30px;border-bottom: 1px solid #CCCCCC;margin-bottom: 40px;overflow: hidden;padding-top: 20px;padding-bottom: 20px;">
			<div style="margin-left: 245px; float: left;">提示</div>
			<div style="float: right; margin-right: 20px;"><a><img src="img/zhuceguanbianniu.png" style="width: 14px;height: 14px;" class="gbbman"/></a></div>
		</div>
		<div>
			<div style="float: left;margin-left: 40px;margin-right: 20px;"><img src="img/zhuyi.png" width="47" height="47"/></div>
			<div style="float: left;">
				<div>报名这次活动需注意！</div>
				<div>1.我们将扣除你10个屋币</div>
				<div>2.如果您屋币不足，我们将线下付费</div>
			</div>
			<div class="clear"></div>
		</div>
		<div style="text-align: right;"><button class="quxiaobaoming">取消</button><button class="querenbaoming">确认报名</button></div>
	</div>
	<script>
		$(".hdxq_djbm").click(function(){
			$(".hdxqdjbm").show();
		})
		$(".quxiaobaoming").click(function(){
			$(".hdxqdjbm").hide();
		})
		$(".querenbaoming").click(function(){
			$(".hdxqdjbm").hide();
		})
		$(".gbbman").click(function(){
			$(".hdxqdjbm").hide();
		})
	</script>
</body>
</html>
