<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>个人中心</title>
		<link rel="stylesheet" href="../../zhstatic/css/userCenter.min.css" />
	</head>
<body>
	<nav class='navbar navbar-default nav_ps'>
	</nav>
	<div class="banner"><img src="../../zhstatic/images/userCenter/userCenterbanner.jpg" alt=""></div>
	<div class="content-box">
		<h3 class="personal-instruct">个人简介<i></i></h3>
		<h3 class="attention-space">关注领域</h3>
		<ul class="attention">
			<li>
				<a href="javascript:;">老年公寓</a>
			</li>
			<li>
				<a href="javascript:;">度假公寓</a>
			</li>
			<li>
				<a href="javascript:;">大型社区</a>
			</li>
		</ul>
	</div>
	<div class="tab-bar">
		<ul class="tab-box">
			<li class="active">
				<a href="javascript:;">作品<span>100</span></a>
			</li>
			<li>
				<a href="javascript:;">动态<span>18</span></a>
			</li>
			<li>
				<a href="javascript:;">活动<span>12</span></a>
			</li>
			<li>
				<a href="javascript:;">任务<span>18</span></a>
			</li>
			<li>
				<a href="javascript:;">招聘<span>18</span></a>
			</li>
			<li>
				<a href="javascript:;">收藏<span>18</span></a>
			</li>
		</ul>
		<a href="javascript:;" class="add-btn">添加作品</a>
	</div>
	<!-- 作品展示 -->
	<ul class="horizontal-box" id="opus-show">
		<li>
			<a href="javascript:;" class="opus">
				<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
				<h3>白色海浪，日本游艇码头中心</h3>
				<p class="address"><span class="time">2016</span><span class="country">中国</span><span class="city">杭州</span></p>
				<p class="tags"><span>居住</span><span>都市豪宅</span><i>20次浏览</i></p>
			</a>
			<div class="edit-box">
				<a href="javascript:;" class="edit">编辑</a>
				<a href="javascript:;" class="delete">删除</a>
			</div>
		</li>
		<li>
			<a href="javascript:;" class="opus">
				<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
				<h3>白色海浪，日本游艇码头中心</h3>
				<p class="address"><span class="time">2016</span><span class="country">中国</span><span class="city">杭州</span></p>
				<p class="tags"><span>居住</span><span>都市豪宅</span><i>20次浏览</i></p>
			</a>
			<div class="edit-box">
				<a href="javascript:;" class="edit">编辑</a>
				<a href="javascript:;" class="delete">删除</a>
			</div>
		</li>
		<li>
			<a href="javascript:;" class="opus">
				<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
				<h3>白色海浪，日本游艇码头中心</h3>
				<p class="address"><span class="time">2016</span><span class="country">中国</span><span class="city">杭州</span></p>
				<p class="tags"><span>居住</span><span>都市豪宅</span><i>20次浏览</i></p>
			</a>
			<div class="edit-box">
				<a href="javascript:;" class="edit">编辑</a>
				<a href="javascript:;" class="delete">删除</a>
			</div>
		</li>
		<li>
			<a href="javascript:;" class="opus">
				<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
				<h3>白色海浪，日本游艇码头中心</h3>
				<p class="address"><span class="time">2016</span><span class="country">中国</span><span class="city">杭州</span></p>
				<p class="tags"><span>居住</span><span>都市豪宅</span><i>20次浏览</i></p>
			</a>
			<div class="edit-box">
				<a href="javascript:;" class="edit">编辑</a>
				<a href="javascript:;" class="delete">删除</a>
			</div>
		</li>
		<li>
			<a href="javascript:;" class="opus">
				<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
				<h3>白色海浪，日本游艇码头中心</h3>
				<p class="address"><span class="time">2016</span><span class="country">中国</span><span class="city">杭州</span></p>
				<p class="tags"><span>居住</span><span>都市豪宅</span><i>20次浏览</i></p>
			</a>
			<div class="edit-box">
				<a href="javascript:;" class="edit">编辑</a>
				<a href="javascript:;" class="delete">删除</a>
			</div>
		</li>
	</ul>
	<!-- 作品展示 -->
	<!-- 动态 -->
	<ul class="vertical-box" id="dynamic-state">
		<li>
			<a href="javascript:;" class="states">
				<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
				<div class="instruct">
					<h3>杭州九树公寓荣获XXXX建筑设计大奖</h3>
					<p class="time">2017-08-09<span>专访</span></p>
					<p class="explanation">
						另有部分居屋则与出租公屋共用相同的楼宇设计（例：Y型、和谐式、非标准型等），甚至直接由即将落成或已落成但腾空的出租公屋改装而成；而后者有私人发展商透过购买私人参建居屋土地，参与居屋计划的发展，这些项目的屋苑及楼宇名称无特定格式，楼宇亦无固定设计 ，但单位设计则需按批地条款按比例去设置两房/三房两厅的固定间格的住宅单位。
					</p>
				</div>
			</a>
			<div class="edit-box">
				<a href="javascript:;" class="edit">编辑</a>
				<a href="javascript:;" class="delete">删除</a>
			</div>
		</li>
		<li>
			<a href="javascript:;" class="states">
				<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
				<div class="instruct">
					<h3>杭州九树公寓荣获XXXX建筑设计大奖</h3>
					<p class="time">2017-08-09<span>专访</span></p>
					<p class="explanation">
						另有部分居屋则与出租公屋共用相同的楼宇设计（例：Y型、和谐式、非标准型等），甚至直接由即将落成或已落成但腾空的出租公屋改装而成；而后者有私人发展商透过购买私人参建居屋土地，参与居屋计划的发展，这些项目的屋苑及楼宇名称无特定格式，楼宇亦无固定设计 ，但单位设计则需按批地条款按比例去设置两房/三房两厅的固定间格的住宅单位。
					</p>
				</div>
			</a>
			<div class="edit-box">
				<a href="javascript:;" class="edit">编辑</a>
				<a href="javascript:;" class="delete">删除</a>
			</div>
		</li>
		<li>
			<a href="javascript:;" class="states">
				<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
				<div class="instruct">
					<h3>杭州九树公寓荣获XXXX建筑设计大奖</h3>
					<p class="time">2017-08-09<span>专访</span></p>
					<p class="explanation">
						另有部分居屋则与出租公屋共用相同的楼宇设计（例：Y型、和谐式、非标准型等），甚至直接由即将落成或已落成但腾空的出租公屋改装而成；而后者有私人发展商透过购买私人参建居屋土地，参与居屋计划的发展，这些项目的屋苑及楼宇名称无特定格式，楼宇亦无固定设计 ，但单位设计则需按批地条款按比例去设置两房/三房两厅的固定间格的住宅单位。
					</p>
				</div>
			</a>
			<div class="edit-box">
				<a href="javascript:;" class="edit">编辑</a>
				<a href="javascript:;" class="delete">删除</a>
			</div>
		</li>
		<li>
			<a href="javascript:;" class="states">
				<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
				<div class="instruct">
					<h3>杭州九树公寓荣获XXXX建筑设计大奖</h3>
					<p class="time">2017-08-09<span>专访</span></p>
					<p class="explanation">
						另有部分居屋则与出租公屋共用相同的楼宇设计（例：Y型、和谐式、非标准型等），甚至直接由即将落成或已落成但腾空的出租公屋改装而成；而后者有私人发展商透过购买私人参建居屋土地，参与居屋计划的发展，这些项目的屋苑及楼宇名称无特定格式，楼宇亦无固定设计 ，但单位设计则需按批地条款按比例去设置两房/三房两厅的固定间格的住宅单位。
						另有部分居屋则与出租公屋共用相同的楼宇设计（例：Y型、和谐式、非标准型等），甚至直接由即将落成或已落成但腾空的出租公屋改装而成；而后者有私人发展商透过购买私人参建居屋土地，参与居屋计划的发展，这些项目的屋苑及楼宇名称无特定格式，楼宇亦无固定设计 ，但单位设计则需按批地条款按比例去设置两房/三房两厅的固定间格的住宅单位。
					</p>
				</div>
			</a>
			<div class="edit-box">
				<a href="javascript:;" class="edit">编辑</a>
				<a href="javascript:;" class="delete">删除</a>
			</div>
		</li>
		<li>
			<a href="javascript:;" class="states">
				<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
				<div class="instruct">
					<h3>杭州九树公寓荣获XXXX建筑设计大奖</h3>
					<p class="time">2017-08-09<span>专访</span></p>
					<p class="explanation">
						另有部分居屋则与出租公屋共用相同的楼宇设计（例：Y型、和谐式、非标准型等），甚至直接由即将落成或已落成但腾空的出租公屋改装而成；而后者有私人发展商透过购买私人参建居屋土地，参与居屋计划的发展，这些项目的屋苑及楼宇名称无特定格式，楼宇亦无固定设计 ，但单位设计则需按批地条款按比例去设置两房/三房两厅的固定间格的住宅单位。
					</p>
				</div>
			</a>
			<div class="edit-box">
				<a href="javascript:;" class="edit">编辑</a>
				<a href="javascript:;" class="delete">删除</a>
			</div>
		</li>
	</ul>
	<!-- 动态 -->
	<!-- 活动 -->
	<ul class="horizontal-box" id="activity">
		<li>
			<a href="javascript:;" class="opus">
				<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
				<h3>大舍建筑柳亦春：用结构去联系心灵设计的款式的结构高度思考了广泛的进口发</h3>
				<p class="lecture">主讲：版茂</p>
				<p class="lecture-time">时间：2016-10-02 8:00-10:00</p>
			</a>
			<div class="edit-box">
				<a href="javascript:;" class="edit">编辑</a>
				<a href="javascript:;" class="delete">删除</a>
			</div>
		</li>
		<li>
			<a href="javascript:;" class="opus">
				<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
				<h3>大舍建筑柳亦春：用结构去联系心灵设计</h3>
				<p class="lecture">主讲：版茂</p>
				<p class="lecture-time">时间：2016-10-02 8:00-10:00</p>
			</a>
			<div class="edit-box">
				<a href="javascript:;" class="edit">编辑</a>
				<a href="javascript:;" class="delete">删除</a>
			</div>
		</li>
		<li>
			<a href="javascript:;" class="opus">
				<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
				<h3>白大舍建筑柳亦春：用结构去联系心灵设计</h3>
				<p class="lecture">主讲：版茂</p>
				<p class="lecture-time">时间：2016-10-02 8:00-10:00</p>
			</a>
			<div class="edit-box">
				<a href="javascript:;" class="edit">编辑</a>
				<a href="javascript:;" class="delete">删除</a>
			</div>
		</li>
		<li>
			<a href="javascript:;" class="opus">
				<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
				<h3>大舍建筑柳亦春：用结构去联系心灵设计</h3>
				<p class="lecture">主讲：版茂</p>
				<p class="lecture-time">时间：2016-10-02 8:00-10:00</p>
			</a>
			<div class="edit-box">
				<a href="javascript:;" class="edit">编辑</a>
				<a href="javascript:;" class="delete">删除</a>
			</div>
		</li>
		<li>
			<a href="javascript:;" class="opus">
				<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
				<h3>大舍建筑柳亦春：用结构去联系心灵设计</h3>
				<p class="lecture">主讲：版茂</p>
				<p class="lecture-time">时间：2016-10-02 8:00-10:00</p>
			</a>
			<div class="edit-box">
				<a href="javascript:;" class="edit">编辑</a>
				<a href="javascript:;" class="delete">删除</a>
			</div>
		</li>
	</ul>
	<!-- 活动 -->
	<!-- 任务&招聘-->
	<ul class="small-horizontal-box" id="task">
		<li>
			<a href="javascript:;" class="info">
				（北京/全职）书社建筑-合伙人/建筑、景观、室内设计师/实习生/行政助理和媒体专员/（北京/全职）书社建筑-合伙人/建筑、景观、室内设计师/实习生/行政助理和媒体专员/业务及客服人员（北京/
			</a>
			<div class="edit-right-box">
				<a href="javascript:;" class="edit">编辑</a>
				<a href="javascript:;" class="delete">删除</a>
			</div>
		</li>
		<li>
			<a href="javascript:;" class="info">
				（北京/全职）书社建筑-合伙人/建筑、景观、室内设计师/实习生/行政助理和媒体专员/（北京/
			</a>
			<div class="edit-right-box">
				<a href="javascript:;" class="edit">编辑</a>
				<a href="javascript:;" class="delete">删除</a>
			</div>
		</li>
		<li>
			<a href="javascript:;" class="info">
				（北京/全职）书社建筑-合伙人/建筑、景观、室内设计师/实习生/行政助理和媒体专员/（北京
			</a>
			<div class="edit-right-box">
				<a href="javascript:;" class="edit">编辑</a>
				<a href="javascript:;" class="delete">删除</a>
			</div>
		</li>
		<li>
			<a href="javascript:;" class="info">
				（北京/全职）书社建筑-合伙人/建筑、景观、室内设计师/实习生/行政助理和媒体专员/（北京
			</a>
			<div class="edit-right-box">
				<a href="javascript:;" class="edit">编辑</a>
				<a href="javascript:;" class="delete">删除</a>
			</div>
		</li>
	</ul>
	<!-- 任务&招聘-->
	<!-- 收藏 -->
	<div class="collect-box" id="collect-box">
		<div class="collect-bar">
			<a href="javascript:;" class="active">作品<span>13</span></a>
			<a href="javascript:;">动态<span>34</span></a>
		</div>
		<!-- 作品 -->
		<ul class="horizontal-box" id="collect-opus">
			<li>
				<a href="javascript:;" class="opus">
					<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
					<h3>白色海浪，日本游艇码头中心</h3>
					<p class="address"><span class="time">2016</span><span class="country">中国</span><span class="city">杭州</span></p>
					<p class="tags"><span>居住</span><span>都市豪宅</span><i>20次浏览</i></p>
				</a>
				<div class="edit-box">
					<a href="javascript:;" class="cancel-collect">取消收藏</a>
				</div>
			</li>
			<li>
				<a href="javascript:;" class="opus">
					<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
					<h3>白色海浪，日本游艇码头中心</h3>
					<p class="address"><span class="time">2016</span><span class="country">中国</span><span class="city">杭州</span></p>
					<p class="tags"><span>居住</span><span>都市豪宅</span><i>20次浏览</i></p>
				</a>
				<div class="edit-box">
					<a href="javascript:;" class="cancel-collect">取消收藏</a>
				</div>
			</li>
			<li>
				<a href="javascript:;" class="opus">
					<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
					<h3>白色海浪，日本游艇码头中心</h3>
					<p class="address"><span class="time">2016</span><span class="country">中国</span><span class="city">杭州</span></p>
					<p class="tags"><span>居住</span><span>都市豪宅</span><i>20次浏览</i></p>
				</a>
				<div class="edit-box">
					<a href="javascript:;" class="cancel-collect">取消收藏</a>
				</div>
			</li>
			<li>
				<a href="javascript:;" class="opus">
					<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
					<h3>白色海浪，日本游艇码头中心</h3>
					<p class="address"><span class="time">2016</span><span class="country">中国</span><span class="city">杭州</span></p>
					<p class="tags"><span>居住</span><span>都市豪宅</span><i>20次浏览</i></p>
				</a>
				<div class="edit-box">
					<a href="javascript:;" class="cancel-collect">取消收藏</a>
				</div>
			</li>
			<li>
				<a href="javascript:;" class="opus">
					<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
					<h3>白色海浪，日本游艇码头中心</h3>
					<p class="address"><span class="time">2016</span><span class="country">中国</span><span class="city">杭州</span></p>
					<p class="tags"><span>居住</span><span>都市豪宅</span><i>20次浏览</i></p>
				</a>
				<div class="edit-box">
					<a href="javascript:;" class="cancel-collect">取消收藏</a>
				</div>
			</li>
		</ul>
		<!-- 作品 -->
		<!-- 动态 -->
		<ul class="vertical-box" id="collect-dynamic-state">
			<li>
				<a href="javascript:;" class="states">
					<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
					<div class="instruct">
						<h3>杭州九树公寓荣获XXXX建筑设计大奖</h3>
						<p class="time">2017-08-09<span>专访</span></p>
						<p class="explanation">
							另有部分居屋则与出租公屋共用相同的楼宇设计（例：Y型、和谐式、非标准型等），甚至直接由即将落成或已落成但腾空的出租公屋改装而成；而后者有私人发展商透过购买私人参建居屋土地，参与居屋计划的发展，这些项目的屋苑及楼宇名称无特定格式，楼宇亦无固定设计 ，但单位设计则需按批地条款按比例去设置两房/三房两厅的固定间格的住宅单位。
						</p>
					</div>
				</a>
				<div class="edit-box">
					<a href="javascript:;" class="cancel-collect">取消收藏</a>
				</div>
			</li>
			<li>
				<a href="javascript:;" class="states">
					<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
					<div class="instruct">
						<h3>杭州九树公寓荣获XXXX建筑设计大奖</h3>
						<p class="time">2017-08-09<span>专访</span></p>
						<p class="explanation">
							另有部分居屋则与出租公屋共用相同的楼宇设计（例：Y型、和谐式、非标准型等），甚至直接由即将落成或已落成但腾空的出租公屋改装而成；而后者有私人发展商透过购买私人参建居屋土地，参与居屋计划的发展，这些项目的屋苑及楼宇名称无特定格式，楼宇亦无固定设计 ，但单位设计则需按批地条款按比例去设置两房/三房两厅的固定间格的住宅单位。
						</p>
					</div>
				</a>
				<div class="edit-box">
					<a href="javascript:;" class="cancel-collect">取消收藏</a>
				</div>
			</li>
			<li>
				<a href="javascript:;" class="states">
					<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
					<div class="instruct">
						<h3>杭州九树公寓荣获XXXX建筑设计大奖</h3>
						<p class="time">2017-08-09<span>专访</span></p>
						<p class="explanation">
							另有部分居屋则与出租公屋共用相同的楼宇设计（例：Y型、和谐式、非标准型等），甚至直接由即将落成或已落成但腾空的出租公屋改装而成；而后者有私人发展商透过购买私人参建居屋土地，参与居屋计划的发展，这些项目的屋苑及楼宇名称无特定格式，楼宇亦无固定设计 ，但单位设计则需按批地条款按比例去设置两房/三房两厅的固定间格的住宅单位。
						</p>
					</div>
				</a>
				<div class="edit-box">
					<a href="javascript:;" class="cancel-collect">取消收藏</a>
				</div>
			</li>
			<li>
				<a href="javascript:;" class="states">
					<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
					<div class="instruct">
						<h3>杭州九树公寓荣获XXXX建筑设计大奖</h3>
						<p class="time">2017-08-09<span>专访</span></p>
						<p class="explanation">
							另有部分居屋则与出租公屋共用相同的楼宇设计（例：Y型、和谐式、非标准型等），甚至直接由即将落成或已落成但腾空的出租公屋改装而成；而后者有私人发展商透过购买私人参建居屋土地，参与居屋计划的发展，这些项目的屋苑及楼宇名称无特定格式，楼宇亦无固定设计 ，但单位设计则需按批地条款按比例去设置两房/三房两厅的固定间格的住宅单位。
							另有部分居屋则与出租公屋共用相同的楼宇设计（例：Y型、和谐式、非标准型等），甚至直接由即将落成或已落成但腾空的出租公屋改装而成；而后者有私人发展商透过购买私人参建居屋土地，参与居屋计划的发展，这些项目的屋苑及楼宇名称无特定格式，楼宇亦无固定设计 ，但单位设计则需按批地条款按比例去设置两房/三房两厅的固定间格的住宅单位。
						</p>
					</div>
				</a>
				<div class="edit-box">
					<a href="javascript:;" class="cancel-collect">取消收藏</a>
				</div>
			</li>
			<li>
				<a href="javascript:;" class="states">
					<img src="../../zhstatic/images/userCenter/product.jpg" alt="">
					<div class="instruct">
						<h3>杭州九树公寓荣获XXXX建筑设计大奖</h3>
						<p class="time">2017-08-09<span>专访</span></p>
						<p class="explanation">
							另有部分居屋则与出租公屋共用相同的楼宇设计（例：Y型、和谐式、非标准型等），甚至直接由即将落成或已落成但腾空的出租公屋改装而成；而后者有私人发展商透过购买私人参建居屋土地，参与居屋计划的发展，这些项目的屋苑及楼宇名称无特定格式，楼宇亦无固定设计 ，但单位设计则需按批地条款按比例去设置两房/三房两厅的固定间格的住宅单位。
						</p>
					</div>
				</a>
				<div class="edit-box">
					<a href="javascript:;" class="cancel-collect">取消收藏</a>
				</div>
			</li>
		</ul>
		<!-- 动态 -->
	</div>
	<!-- 收藏 -->
	<footer style="margin-top: 40px;">
	<div class="beian">关于我们 | ©2010-2016 居屋网 | 京ICP备10044767号 | 京公网安备11010102000560号</div>		
	</footer>


    <script src="../../zhstatic/js/require.js" data-main="../../zhstatic/js/common"></script>
	<script>
		require(['common'], function () {
			require(['page/userCenter']);
		});
	</script>
</body>
</html>