<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../../zhstatic/css/index.min.css">
    <link rel="stylesheet" href="../../zhstatic/css/lib/swiper.min.css">
</head>
<body>
<div class="banner-box">
    <div class="nav-bar">
        <div class="nav-box">
            <a href="javascript:;" class="logo">居者有其屋</a>
            <a href="javascript:;" class="logined">
                
            </a>
            <div class="login-box">
                <!-- <a href="javascript:;" class="login">登录</a> -->
                <div class="logined">
                    <img src="../../zhstatic/images/userCenter/product.jpg" alt="">
                    <ul class="person-center">
                        <li><a href="javascrit:;"><i></i><span>个人中心</span></a></li>
                        <li><a href="javascrit:;"><i></i><span>设置</span></a></li>  
                        <li><a href="javascrit:;"><i></i><span>通知</span><span class="message">0</span></a></li> 
                        <li><a href="javascrit:;"><i></i><span>剩余积分：<em>200</em></span></a></li> 
                        <li><a href="javascrit:;"><i></i><span>修改密码</span></a></li> 
                        <li class="login-out-box">
                            <a href="javascript:;" class="login-out-btn">
                                <i></i>
                                <span>登出</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <a href="javascript:;" class="enter">En</a>
            </div>
        </div>
    </div>
    <div class="swiper-container banner-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="javascript:;">
                <img src="../../zhstatic/images/userCenter/userCenterbanner.jpg" alt="">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="javascript:;">
                <img src="../../zhstatic/images/userCenter/userCenterbanner.jpg" alt="">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="javascript:;">
                <img src="../../zhstatic/images/userCenter/userCenterbanner.jpg" alt="">
            </a>
        </div>
      </div>
    </div>
    <div class="search-box">
        <input type="text" placeholder="一分钟找团队、项目、产品">
        <a href="javascript:;" class="search-btn">极速配对</a>
    </div>
</div>
<div class="content-box">
    <!-- 作品展示 -->
    <ul class="opus-show">
        <li>
            <a href="javascript:;">
                <img src="../../zhstatic/images/userCenter/product.jpg" alt="">
                <h3>白色海浪，日本游艇码头中心</h3>
                <p class="address"><span class="time">2016</span><span class="country">中国</span><span class="city">杭州</span></p>
                <p class="tags"><span>居住</span><span>都市豪宅</span><i>20次浏览</i></p>
            </a>
        </li>
         <li>
            <a href="javascript:;">
                <img src="../../zhstatic/images/userCenter/product.jpg" alt="">
                <h3>白色海浪，日本游艇码头中心</h3>
                <p class="address"><span class="time">2016</span><span class="country">中国</span><span class="city">杭州</span></p>
                <p class="tags"><span>居住</span><span>都市豪宅</span><i>20次浏览</i></p>
            </a>
        </li>
         <li>
            <a href="javascript:;">
                <img src="../../zhstatic/images/userCenter/product.jpg" alt="">
                <h3>白色海浪，日本游艇码头中心</h3>
                <p class="address"><span class="time">2016</span><span class="country">中国</span><span class="city">杭州</span></p>
                <p class="tags"><span>居住</span><span>都市豪宅</span><i>20次浏览</i></p>
            </a>
        </li>
         <li>
            <a href="javascript:;">
                <img src="../../zhstatic/images/userCenter/product.jpg" alt="">
                <h3>白色海浪，日本游艇码头中心</h3>
                <p class="address"><span class="time">2016</span><span class="country">中国</span><span class="city">杭州</span></p>
                <p class="tags"><span>居住</span><span>都市豪宅</span><i>20次浏览</i></p>
            </a>
        </li>
    </ul>
    <!-- 设计师展示 -->
    <div class="people-show">
        <div class="swiper-container people-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../../zhstatic/images/index/index-people1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../../zhstatic/images/index/index-people2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../../zhstatic/images/index/index-people3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../../zhstatic/images/index/index-people4.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../../zhstatic/images/index/index-people5.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../../zhstatic/images/userCenter/product.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../../zhstatic/images/index/index-people1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../../zhstatic/images/index/index-people2.jpg" alt=""></div>
            </div>
        </div>
        <div class="swiper-button-prev swiper-button"></div>
        <div class="swiper-button-next swiper-button"></div> 
    </div>
    <!-- 动态 -->
    <ul class="news-show">
        <li>
            <a href="javascript:;">
                <img src="../../zhstatic/images/userCenter/product.jpg" alt="">
                <h3>杭州九树公寓荣获XXXX大奖</h3>
                <p>黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成，黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成</p>
            </a>
        </li>
         <li>
            <a href="javascript:;">
                <img src="../../zhstatic/images/userCenter/product.jpg" alt="">
                <h3>杭州九树公寓荣获XXXX大奖</h3>
                <p>黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成，黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成</p>
            </a>
        </li>
         <li>
            <a href="javascript:;">
                <img src="../../zhstatic/images/userCenter/product.jpg" alt="">
                <h3>杭州九树公寓荣获XXXX大奖</h3>
                <p>黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成，黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成</p>
            </a>
        </li>
         <li>
            <a href="javascript:;">
                <img src="../../zhstatic/images/userCenter/product.jpg" alt="">
                <h3>杭州九树公寓荣获XXXX大奖</h3>
                <p>黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成，黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成</p>
            </a>
        </li>
    </ul>
    <!-- 任务 -->
    <div class="task-box">
        <h3>任务</h3>
        <ul>
            <li>
                <a href="javascript:;">
                    （北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果图设计师/家具产品研发师/软装配饰设计师/橱柜设计师/平面设计师（北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果图设计师/家具产品研发师/软装配饰设计师/橱柜设计师/平面设计师
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    （北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果图设计师/家具产品研发师/软装配饰设计师/橱柜设计师/平面设计师
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    （北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    （北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果图设计师/家具产品研发师/软装配饰设计师/橱柜设计师/平面设计师
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    （北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果图设计师/家具产品研发师/软装配饰设计师/橱柜设计师/平面设计师
                </a>
            </li>
             <li>
                <a href="javascript:;">
                    （北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果图设计师/家具产品研发师/软装配饰设计师/橱柜设计师/平面设计师（北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果图设计师/家具产品研发师/软装配饰设计师/橱柜设计师/平面设计师
                </a>
            </li>
        </ul>
    </div>
    <!-- 作品展示 -->
    <ul class="opus-show">
        <li>
            <a href="javascript:;">
                <img src="../../zhstatic/images/userCenter/product.jpg" alt="">
                <h3>白色海浪，日本游艇码头中心</h3>
                <p class="address"><span class="time">2016</span><span class="country">中国</span><span class="city">杭州</span></p>
                <p class="tags"><span>居住</span><span>都市豪宅</span><i>20次浏览</i></p>
            </a>
        </li>
         <li>
            <a href="javascript:;">
                <img src="../../zhstatic/images/userCenter/product.jpg" alt="">
                <h3>白色海浪，日本游艇码头中心</h3>
                <p class="address"><span class="time">2016</span><span class="country">中国</span><span class="city">杭州</span></p>
                <p class="tags"><span>居住</span><span>都市豪宅</span><i>20次浏览</i></p>
            </a>
        </li>
         <li>
            <a href="javascript:;">
                <img src="../../zhstatic/images/userCenter/product.jpg" alt="">
                <h3>白色海浪，日本游艇码头中心</h3>
                <p class="address"><span class="time">2016</span><span class="country">中国</span><span class="city">杭州</span></p>
                <p class="tags"><span>居住</span><span>都市豪宅</span><i>20次浏览</i></p>
            </a>
        </li>
         <li>
            <a href="javascript:;">
                <img src="../../zhstatic/images/userCenter/product.jpg" alt="">
                <h3>白色海浪，日本游艇码头中心</h3>
                <p class="address"><span class="time">2016</span><span class="country">中国</span><span class="city">杭州</span></p>
                <p class="tags"><span>居住</span><span>都市豪宅</span><i>20次浏览</i></p>
            </a>
        </li>
    </ul>
    <!-- 绿建和装配 -->
    <div class="assemble-box">
        <div class="inner-box">
            <div class="green-build">
                <h3>绿建</h3>
                <ul>
                    <li>
                        <a href="javascript:;">
                            （北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果图设计师/家具产品研发师/软装配饰设计师/橱柜设计师/平面设计师（北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果图设计师/家具产品研发师/软装配饰设计师/橱柜设计师/平面设计师
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            （北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果图设计师/家具产品研发师/软装配饰设计师/橱柜设计师/平面设计师
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            （北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果
                        </a>
                    </li>
                </ul>
            </div>
            <div class="decoration-build">
                <h3>装配</h3>
                <ul>
                    <li>
                        <a href="javascript:;">
                            （北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果图设计师/家具产品研发师/软装配饰设计师/橱柜设计师/平面设计师（北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果图设计师/家具产品研发师/软装配饰设计师/橱柜设计师/平面设计师
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            （北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果图设计师/家具产品研发师/软装配饰设计师/橱柜设计师/平面设计师
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            （北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="news-show">
        <li>
            <a href="javascript:;">
                <img src="../../zhstatic/images/userCenter/product.jpg" alt="">
                <h3>杭州九树公寓荣获XXXX大奖</h3>
                <p>黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成，黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成</p>
            </a>
        </li>
         <li>
            <a href="javascript:;">
                <img src="../../zhstatic/images/userCenter/product.jpg" alt="">
                <h3>杭州九树公寓荣获XXXX大奖</h3>
                <p>黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成，黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成</p>
            </a>
        </li>
         <li>
            <a href="javascript:;">
                <img src="../../zhstatic/images/userCenter/product.jpg" alt="">
                <h3>杭州九树公寓荣获XXXX大奖</h3>
                <p>黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成，黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成</p>
            </a>
        </li>
         <li>
            <a href="javascript:;">
                <img src="../../zhstatic/images/userCenter/product.jpg" alt="">
                <h3>杭州九树公寓荣获XXXX大奖</h3>
                <p>黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成，黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成</p>
            </a>
        </li>
    </ul>
    <!-- 招聘 -->
    <div class="task-box">
        <h3>招聘</h3>
        <ul>
            <li>
                <a href="javascript:;">
                    （北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果图设计师/家具产品研发师/软装配饰设计师/橱柜设计师/平面设计师（北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果图设计师/家具产品研发师/软装配饰设计师/橱柜设计师/平面设计师
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    （北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果图设计师/家具产品研发师/软装配饰设计师/橱柜设计师/平面设计师
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    （北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    （北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果图设计师/家具产品研发师/软装配饰设计师/橱柜设计师/平面设计师
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    （北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果图设计师/家具产品研发师/软装配饰设计师/橱柜设计师/平面设计师
                </a>
            </li>
             <li>
                <a href="javascript:;">
                    （北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果图设计师/家具产品研发师/软装配饰设计师/橱柜设计师/平面设计师（北京/上海）家天地工作室Domus Tiandi Studio - 设计总监/室内设计师/效果图设计师/家具产品研发师/软装配饰设计师/橱柜设计师/平面设计师
                </a>
            </li>
        </ul>
    </div>
    <ul class="news-show">
        <li>
            <a href="javascript:;">
                <img src="../../zhstatic/images/userCenter/product.jpg" alt="">
                <h3>杭州九树公寓荣获XXXX大奖</h3>
                <p>黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成，黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成</p>
            </a>
        </li>
         <li>
            <a href="javascript:;">
                <img src="../../zhstatic/images/userCenter/product.jpg" alt="">
                <h3>杭州九树公寓荣获XXXX大奖</h3>
                <p>黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成，黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成</p>
            </a>
        </li>
         <li>
            <a href="javascript:;">
                <img src="../../zhstatic/images/userCenter/product.jpg" alt="">
                <h3>杭州九树公寓荣获XXXX大奖</h3>
                <p>黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成，黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成</p>
            </a>
        </li>
         <li>
            <a href="javascript:;">
                <img src="../../zhstatic/images/userCenter/product.jpg" alt="">
                <h3>杭州九树公寓荣获XXXX大奖</h3>
                <p>黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成，黄金泡是为香港K11“筑、听、觉”展设计的大型装置，由一些庞大的金色充气物构成</p>
            </a>
        </li>
    </ul>
</div>
<div class="fixed-box"> 
    <a href="javascript:;" class="build-green">装配</a>
    <a href="javascript:;" class="build-green">绿建</a>
    <a href="javascript:;" class="opus">作品</a>
    <a href="javascript:;" class="team">团队</a>
    <a href="javascript:;">
        <p>最新</p>
        <p>动态</p>
    </a>
    <a href="javascript:;" class="active">活动</a>
    <a href="javascript:;" class="takeJob">招聘</a>
    <a href="javascript:;" class="callForTender">招标</a>
    <a href="javascript:;" class="to-top">
        <p>回到</p>
        <p>顶部</p>
    </a>
</div>
<script src="../../zhstatic/js/lib/jquery.min.js"></script>
<script src="../../zhstatic/js/lib/swiper.min.js"></script>
<script src="../../zhstatic/js/page/index.js"></script>
<!--<script src="../../zhstatic/js/require.js" data-main="../../zhstatic/js/common"></script>-->
<!--<script>-->
<!--require(['common'], function () {-->
<!--require(['page/pubActivity']);-->
<!--});-->
<!--</script>-->
</body>
</html>
