<div class='navbar navbar-default nav_ps'>
    <div class="nav-box clearfix">
        <h1 class="fl"><a href="javascript:;" class="logo">居者有其屋</a></h1>
        <div class="search-box">
            <input type="text" placeholder="一分钟找团队、项目、产品">
            <a href="javascript:;" class="search-btn">极速配对</a>
        </div>
        <div class="login-box">
            <!-- <a href="javascript:;" class="login">登录</a> -->
            <div class="logined">
                <img src="../../zhstatic/images/userCenter/product.jpg" alt="">
                <ul class="person-center">
                    <li><a href="javascrit:;"><i></i><span>个人中心</span></a></li>
                    <li><a href="javascrit:;"><i></i><span>设置</span></a></li>  
                    <li><a href="javascrit:;"><i></i><span>通知</span><span class="message">0</span></a></li> 
                    <li><a href="javascrit:;"><i></i><span>剩余积分：<em>200</em></span></a></li> 
                    <li><a href="javascrit:;"><i></i><span>修改密码</span></a></li> 
                    <li class="login-out-box">
                        <a href="javascript:;" class="login-out-btn">
                            <i></i>
                            <span>登出</span>
                        </a>
                    </li>
                </ul>
            </div>
            <a href="javascript:;" class="enter">En</a>
        </div>
    </div>
</div>