<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>个人设置</title>
    <link rel="stylesheet" href="../../zhstatic/css/userSettings.min.css">
</head>
<body>
<nav></nav>
<div class="table">
	<div class="heade">
		<a class="bg" href="javascript:;">个人资料</a>
		<a href="javascript:;">修改密码</a>
		<a href="javascript:;">退出登录</a>
	
	</div>
	<ul class="body">
		<li>
			<label>头像</label>
			<ul id="avatr-attach-container">
				<li><a href="javascript:;">+</a></li>
			</ul>
		</li>
		<li>
			<label>用户名</label>
			<input type="text">
		</li>
		<li>
			<label>真实姓名</label>
			<input type="text">
		</li>
		<li>
			<label>邮箱</label>
			<input type="text">
		</li>
		<li>
			<label>手机</label>
			<input type="text">
		</li>
		<li>
			<label>国籍</label>
			<select name="" id="">
				<option value="">中国(CN)</option>
				<option value="">美国(US)</option>
			</select>
		</li>
		<li>
			<label>生日</label>
			<input type="text">
		</li>
		<li>
			<label>性别</label>
			<select name="" id="">
				<option value="">男</option>
				<option value="">女</option>
			</select>
		</li>
		<li>
			<label>所在城市</label>
			<select name="" id="">
				<option value="">上海</option>
			</select>
		</li>
	</ul>
	<div class="tc mt50">
		<a href="javascript:;" class="submit">保存</a>
	</div>
</div>

<script src="../../zhstatic/js/lib/jquery.min.js"></script>

<script src="../../zhstatic/js/page/userSettings.js"></script>

<!--<script src="../../zhstatic/js/require.js" data-main="../../zhstatic/js/common"></script>-->
<!--<script>-->
<!--require(['common'], function () {-->
<!--require(['page/pubActivity']);-->
<!--});-->
<!--</script>-->
</body>
</html>