<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>发布活动</title>
		<link rel="stylesheet" href="../../zhstatic/css/pubActivity.min.css">
	</head>
<body>
	<nav>
	</nav>
	<div class="main-container layout">
		<div id="coverImg" class="cover-img">请添加封面图（支持5M以内的JPG、GIF、PNG图片、建议尺寸1000*562PX</div>
		<div class="mini-layout">
			<div class="from-group">
				<input class="input-title" type="text" placeholder="请输入标题">
			</div>
			<div class="from-group">
				<label for="area"><em>所在地：</em><input id="area" type="text"></label>
				<label for="address"><em>活动地点：</em><input id="address" type="text"></label>
			</div>
			<div class="from-group">
				<label for="date"><em>活动时间：</em><input id="date" type="text"></label>
				<label for="cost">
					<em>费用：</em>
					<input id="cost" type="text" placeholder="设置活动积分">
					<a href="javascript:;" title="费用是XXXX">费用是什么？</a>
				</label>
			</div>
			<div class="from-group">
				<label for="speaker"><em>主讲人：</em><input id="speaker" type="text"></label>
				<label for="phone"><em>联系方式：</em><input id="phone" type="text"></label>
				<label for="sponsor" class="mt30"><em>举办方：</em><input id="sponsor" type="text"></label>
			</div>
			<div class="speaker">
				<div class="fl">
					<div class="speaker-title"></div>
					<div id="avatarImg" class="avatar-img">
						请添加主讲人头像
					</div>
				</div>
				<div class="fl ml10">
					<div class="speaker-title">简介</div>
					<textarea id="introduce" name=""></textarea>
					<div class="speaker-title">演讲摘要</div>
					<textarea id="info" name=""></textarea>
				</div>
			</div>

			<div class="tc">
				<a href="javascript:;" class="submit">发布</a>
				<a href="javascript:;" class="back">返回列表</a>
			</div>

		</div>
	</div>

<script src="../../zhstatic/js/require.js" data-main="../../zhstatic/js/common"></script>
<script>
	require(['common'], function () {
		require(['page/index']);
	});
</script>
</body>
</html>