<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>发布活动</title>
		<link rel="stylesheet" href="../../zhstatic/css/pubActivity.min.css">
	</head>
<body>
	<nav>
	</nav>
	<div class="main-container layout">
		<div id="coverImg" class="cover-img">请添加封面图（支持5M以内的JPG、GIF、PNG图片、建议尺寸1000*562PX</div>
	</div>

<script src="../../zhstatic/js/require.js" data-main="../../zhstatic/js/common"></script>
<script>
	require(['common'], function () {
		require(['page/index']);
	});
</script>
</body>
</html>