<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>个人设置</title>
		<script type="text/javascript" src="js/jquery-1.12.3.min.js" ></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<script src="js/bootstrap.js"></script>
		<link rel="stylesheet" href="css/style.css" />
	</head>
<body>
	<nav class='navbar navbar-default nav_ps'>
	</nav>
	<script>
		$(function(){
			$(".navbar").load("nav.html")
		})
	</script>
	<div class="content hdfbxqyemian">
		<div class="row">
			<div class="huodongfabu_fmt"><span>请添加封面图（支持5M以内的JPG、GIF、PNG图片、建议尺寸1000*562PX）</span></div>
			<div class="huodongfabu_bt"><input placeholder='请输入标题' type='text'></div>
		</div>
		<div class="row">
			<span>作品简介</span><span style="margin-left: 20px;">点击收起</span>
		</div>
		<div class="row" style="margin-bottom: 40px;">
			<div class="col-md-4">
				<ul class="fbzp_ul">
					<li><span class="jbys">国家</span><select><option>国家</option></select></li>
					<li><span class="jbys">省/区</span><select><option>省/区</option></select></li>
					<li><span class="jbys">城市</span><select><option>城市</option></select></li>
					<li><span class="jbys">区位</span><select><option>区位</option></select></li>
					<li><span class="jbys">定位</span><select><option>定位</option></select></li>
					<li><span class="jbys">客户</span><select><option>客户</option></select></li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="fbzp_ul">
					<li><span class="jbys">占地面积</span><input/></li>
					<li><span class="jbys">建筑面积</span><input/></li>
					<li><span class="jbys">地下面积</span><input/></li>
					<li><span class="jbys">面积率</span><input/></li>
					<li><span class="jbys">建筑密度</span><input/></li>
					<li><span class="jbys">绿化率</span><input/></li>
					<li><span class="jbys">户数</span><input/></li>
					<li><span class="jbys">停车</span><input/></li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="fbzp_ul">
					<li><span class="jbys">地形</span><input/></li>
					<li><span class="jbys">高度</span><input/></li>
					<li><span class="jbys">风格</span><input/></li>
					<li><span class="jbys">户型</span><input/></li>
					<li><span class="jbys">精装</span><input/></li>
					<li><span class="jbys">绿建</span><input/></li>
				</ul>
			</div>
		</div>
		<div  class="row">
			<div class="col-md-4">
				<ul class="fbzp_ul">
					<li><span class="jbys">总投资</span><input /></li>
					<li><span class="jbys">周期</span><input /></li>
					<li><span class="jbys">单方售价</span><input /></li>
					<li><span class="jbys">单方成本</span><input /></li>
					<li><span class="jbys">采购</span><input /></li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="fbzp_ul">
					<li><span class="jbys">开发商</span><input /></li>
					<li><span class="jbys">建筑设计</span><input /></li>
					<li><span class="jbys">景观设计</span><input /></li>
					<li><span class="jbys">室内设计</span><input /></li>
					<li><span class="jbys">销售</span><input /></li>
					<li><span class="jbys">运营</span><input /></li>
				</ul>
			</div>
			<div class="col-md-4">
				<div><div style="float: left;">相关文档</div><div class="fbzp_xgwd_djtj"  style="float: right;"><img src="img/fabuzuopintianjia.png" style="width: 16px;height: 16px;"/>添加</div></div>
				<ul class="fbzp_tjwd">
					
				</ul>
			</div>
		</div>
		<div class="row">
			<ul>
				<li><div>策划定位报告</div><img src=""/></li>
				<li><div>策划定位报告</div><img src=""/></li>
				<li><div>策划定位报告</div><img src=""/></li>
				<li><div>策划定位报告</div><img src=""/></li>
				<li><div>策划定位报告</div><img src=""/></li>
				<li><div>策划定位报告</div><img src=""/></li>
				<li><div>策划定位报告</div><img src=""/></li>
				<li><div>策划定位报告</div><img src=""/></li>
				<li><div>策划定位报告</div><img src=""/></li>
				<li><div>策划定位报告</div><img src=""/></li>
				<li><div>策划定位报告</div><img src=""/></li>
				<li><div>策划定位报告</div><img src=""/></li>
				<li><div>策划定位报告</div><img src=""/></li>
				<li><div>策划定位报告</div><img src=""/></li>
			</ul>
		</div>
		<div class="fabufanhuianniu"><button type="submit" class="fabuanniu">发布</button ><button class="fanhuianniu">返回列表</button></div>
	</div>
	<footer style="margin-top: 100px;">
	<div class="beian">关于我们 | ©2010-2016 居屋网 | 京ICP备10044767号 | 京公网安备11010102000560号</div>		
	</footer>
</body>
</html>