<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>发布作品</title>
	<link rel="stylesheet" href="../../zhstatic/css/pubWork.min.css">
</head>
<body>
<nav></nav>
<div class="main-container layout">
	<div id="coverImg" class="cover-img">请添加封面图（支持5M以内的JPG、GIF、PNG图片、建议尺寸1000*562PX</div>
	<div class="from-group">
		<input class="input-title" type="text" placeholder="请输入标题">
	</div>
	<div class="clearfix">
		<div class="from-group-v">
            <div class="title">简介</div>
			<label>
				<em>国家：</em>
				<select name="country" id="country">
                    <option value="">中国</option>
                </select>
			</label>
			<label>
				<em>省/区：</em>
				<select name="country" id="country"></select>
			</label>
			<label>
				<em>城市：</em>
				<select name="country" id="country"></select>
			</label>
			<label>
				<em>区位：</em>
				<select name="country" id="country">
                    <option value="">住宅</option>
                </select>
                <em></em>
				<select name="country" id="country">
                    <option value="">平层公寓</option>
                </select>
			</label>
			<label>
				<em>定位：</em>
				<select name="country" id="country">
                    <option value="">中国</option>
                </select>
			</label>
			<label>
				<em>定位：</em>
				<select name="country" id="country">
                    <option value="">中国</option>
                </select>
			</label>
		</div>
		<div class="from-group-v">
            <div class="title">指标</div>
			<label><em>占地面积：</em><input type="text"></label>
			<label><em>建筑面积：</em><input type="text"></label>
			<label><em>地下面积：</em><input type="text"></label>
			<label><em>面积率：</em><input type="text"></label>
			<label><em>建筑密度：</em><input type="text"></label>
			<label><em>绿化率：</em><input type="text"></label>
			<label><em>户数：</em><input type="text"></label>
			<label><em>停车：</em><input type="text"></label>
		</div>
        <div class="from-group-v">
            <div class="title">产品</div>
            <label><em>占地面积：</em><input type="text"></label>
            <label><em>建筑面积：</em><input type="text"></label>
            <label><em>地下面积：</em><input type="text"></label>
            <label><em>面积率：</em><input type="text"></label>
            <label><em>建筑密度：</em><input type="text"></label>
            <label><em>绿化率：</em><input type="text"></label>
            <label><em>户数：</em><input type="text"></label>
            <label><em>停车：</em><input type="text"></label>
        </div>
        <div class="from-group-v">
            <div class="title">产品</div>
            <label><em>占地面积：</em><input type="text"></label>
            <label><em>建筑面积：</em><input type="text"></label>
            <label><em>地下面积：</em><input type="text"></label>
            <label><em>面积率：</em><input type="text"></label>
            <label><em>建筑密度：</em><input type="text"></label>
            <label><em>绿化率：</em><input type="text"></label>
            <label><em>户数：</em><input type="text"></label>
            <label><em>停车：</em><input type="text"></label>
        </div>
        <div class="from-group-v">
            <div class="title">产品</div>
            <label><em>占地面积：</em><input type="text"></label>
            <label><em>建筑面积：</em><input type="text"></label>
            <label><em>地下面积：</em><input type="text"></label>
            <label><em>面积率：</em><input type="text"></label>
            <label><em>建筑密度：</em><input type="text"></label>
            <label><em>绿化率：</em><input type="text"></label>
            <label><em>户数：</em><input type="text"></label>
            <label><em>停车：</em><input type="text"></label>
        </div>
        <div class="from-group-v">
            <div class="title">产品</div>
            <label><em>占地面积：</em><input type="text"></label>
            <label><em>建筑面积：</em><input type="text"></label>
            <label><em>地下面积：</em><input type="text"></label>
            <label><em>面积率：</em><input type="text"></label>
            <label><em>建筑密度：</em><input type="text"></label>
            <label><em>绿化率：</em><input type="text"></label>
            <label><em>户数：</em><input type="text"></label>
            <label><em>停车：</em><input type="text"></label>
        </div>
	</div>

    <div class="relative-activity">
        <div class="title">
            <span>相关动态</span>
            <a href="javascript:;" >添加</a>
        </div>
        <ul class="activity-list">
            <li class="clearfix">
                <img class="fl" src="" alt="">
                <div class="article fl">
                    <h5>阿士大夫为</h5>
                    <em class="article-date">2016-09-20</em>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto autem eius harum porro. Accusantium assumenda eius eveniet laudantium qui rem totam! Asperiores cumque enim excepturi ipsa maiores pariatur quia totam?</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="work-img ">
        <div class="title">作品图片</div>
        <ul class="clearfix" id="work-attach-container">
            <li id="work-attach-button-wrapper">
                <a id="work-add-attach-button" href="javascript:;">+</a>
            </li>
        </ul>
    </div>

	<div class="tc mt30">
		<a href="javascript:;" class="submit">发布</a>
		<a href="javascript:;" class="back">返回列表</a>
	</div>
</div>

<div id="costModal" class="modal-container hide">
	<div class="modal-shadow">
		<div class="modal-content">
			<div class="modal-head"></div>
			<div class="modal-body">
				<h5>费用是什么？</h5>
				<p>它可以根据文档你的财富值标价</p>
				<h5>如果用户没有屋币怎么办？</h5>
				<p>将提醒。。。</p>
			</div>
			<div class="modal-footer">
				<a href="javascript:;" class="modal-close">我知道了</a>
			</div>

		</div>
	</div>
</div>

<script src="../../zhstatic/js/lib/jquery.min.js"></script>
<script src="../../zhstatic/js/lib/plupload.min.js"></script>

<script src="../../zhstatic/js/page/pubWork.js"></script>

<!--<script src="../../zhstatic/js/require.js" data-main="../../zhstatic/js/common"></script>-->
<!--<script>-->
	<!--require(['common'], function () {-->
		<!--require(['page/pubActivity']);-->
	<!--});-->
<!--</script>-->
</body>
</html>