<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>招聘详情</title>
    <link rel="stylesheet" href="../../zhstatic/css/recDetail.min.css">
</head>
<body>
    <nav></nav>
    <div class="main-container">
        <div class="layout">
            <h4 class="J_taskTitle">(北京/全职）书社建筑-合伙人、建筑、景观、室内设计师、实习生</h4>
            <div class="J_html">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium incidunt itaque iusto laborum, magni nesciunt odio porro praesentium qui quia quisquam quo sequi similique, tempore vel voluptas voluptate voluptatibus?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium incidunt itaque iusto laborum, magni nesciunt odio porro praesentium qui quia quisquam quo sequi similique, tempore vel voluptas voluptate voluptatibus?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium incidunt itaque iusto laborum, magni nesciunt odio porro praesentium qui quia quisquam quo sequi similique, tempore vel voluptas voluptate voluptatibus?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium incidunt itaque iusto laborum, magni nesciunt odio porro praesentium qui quia quisquam quo sequi similique, tempore vel voluptas voluptate voluptatibus?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium incidunt itaque iusto laborum, magni nesciunt odio porro praesentium qui quia quisquam quo sequi similique, tempore vel voluptas voluptate voluptatibus?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium incidunt itaque iusto laborum, magni nesciunt odio porro praesentium qui quia quisquam quo sequi similique, tempore vel voluptas voluptate voluptatibus?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium incidunt itaque iusto laborum, magni nesciunt odio porro praesentium qui quia quisquam quo sequi similique, tempore vel voluptas voluptate voluptatibus?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium incidunt itaque iusto laborum, magni nesciunt odio porro praesentium qui quia quisquam quo sequi similique, tempore vel voluptas voluptate voluptatibus?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium incidunt itaque iusto laborum, magni nesciunt odio porro praesentium qui quia quisquam quo sequi similique, tempore vel voluptas voluptate voluptatibus?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium incidunt itaque iusto laborum, magni nesciunt odio porro praesentium qui quia quisquam quo sequi similique, tempore vel voluptas voluptate voluptatibus?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium incidunt itaque iusto laborum, magni nesciunt odio porro praesentium qui quia quisquam quo sequi similique, tempore vel voluptas voluptate voluptatibus?
            </div>
            <p class="other-title">其他：</p>
            <ul class="other">
                <li><a href="">（北京/全职）书社建筑-合伙人、建筑、景观、室内设计师、实习生</a></li>
                <li><a href="">（北京/全职）书社建筑-合伙人、建筑、景观、室内设计师、实习生</a></li>
                <li><a href="">（北京/全职）书社建筑、景观、室内设计师、实习生</a></li>
                <li><a href="">（北京/全职）书社建筑-合伙人、建筑、景观、室内设计师、实习生</a></li>
                <li><a href="">（北京/全职）书社建筑-合伙人、建筑、景观、室内设计师、实习生</a></li>
                <li><a href="">（北京/全职）书社建筑-合伙人、建筑、景观、室内设计师、实习生</a></li>
                <li><a href="">（北京/全职）书社建筑-合伙人、建筑、室内设计师、实习生</a></li>
                <li><a href="">（北京/全职）书社建筑-合伙人、建筑、景观、室内设计师、实习生</a></li>
                <li><a href="">（北京/全职）书社建筑-合伙人、景观、室内设计师、实习生</a></li>
            </ul>
        </div>

    </div>

    <script src="../../zhstatic/js/lib/jquery.min.js"></script>

    <script src="../../zhstatic/js/page/recDetail.js"></script>
</body>
</html>