<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="js/jquery-1.12.3.min.js" ></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<script src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/jquery-1.12.3.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<style>
			.sy_logo_jzyqw{
				    color: #ff6f05;
		    font-size: 1.1em;
		    font-weight: 300;
			}
		</style>
</head>
<body>
	<nav class='navbar navbar-default nav_ps' style="background: rgba(255,255,255,0);">
	</nav>
	<script>		
		$(function(){
			$(".navbar").load("nav.html")
		})
		$(".nav_ps").mouseover(function(){
		    $(".nav_ps").css("background","rgba(255,255,255,0.7)");
		    $("#navdenglu").css("color","black");
		    $("#navzhuce").css("color","black")
		});
		$(".nav_ps").mouseout(function(){
		    $(".nav_ps").css("background","rgba(255,255,255,0.0)");
		    $("#navdenglu").css("color","white");
		    $("#navzhuce").css("color","white")
		});

	</script>
	<div class="row"style="margin-top: 80px;font-size: 30px;">（上海/全职）上海大观事务所-建筑师招聘</div>
	<div class="content">
		<div class="row rwxq_jbxx">
			<div class="col-md-3">
				<ul>
					<li><span>地点：</span><span>杭州市</span></li>
					<li><span>品类：</span><span>住宅</span></li>
					<li><span>建筑规模：</span><span>200000平方米</span></li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li><span>专业：</span><span>建筑设计</span></li>
					<li><span>阶段：</span><span>方案设计</span></li>
					<li><span>开发商：</span><span>郡原地产</span></li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li><span>招标时间：</span><span>2016.7.7-2016.7.8</span></li>
					<li><span>任务周期：</span><span>3个月</span></li>
					<li><span>联系电话：</span><span>13九个7</span></li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li><span>造价：</span><span>￥500万</span></li>
					<li><span>预算：</span><span>￥5005万</span></li>
					<li><span>联系邮箱：</span><span>XXXXX@qq.com</span></li>
				</ul>
			</div>
			<div>相关资料：</div>
		</div>
		<div class="row">
			<div class="zpxq_gsjj">
				任务描述
			</div>
			<div class="zpxq_zwyq">
				任务要求求
			</div>
		</div>
		<div class="row">
			<ul class="hdxq_bmtx">
				<li><img src="img/tuandui.png"/></li>
				<li><img src="img/tuandui.png"/></li>
				<li><img src="img/tuandui.png"/></li>
				<li><img src="img/tuandui.png"/></li>
				<li><img src="img/tuandui.png"/></li>
				<li><img src="img/tuandui.png"/></li>
				<li><img src="img/tuandui.png"/></li>
				<li><img src="img/tuandui.png"/></li>
				<li><img src="img/tuandui.png"/></li>
				<li><img src="img/tuandui.png"/></li>
				<li><img src="img/tuandui.png"/></li>
				<li><img src="img/tuandui.png"/></li>
			</ul>
		</div>
		<div class="hdxq_djbmbb"><button class="hdxq_djbm">报名</button><br/><span>tips:任务招标任何疑问，欢迎致电XXXXXXXXXXX</span></div>
	</div>
	<div class="content">
		<div class="row dtxq_pinglunquyu">
			<div>发表评论</div>
			<div>登陆为XXXX</div>
			<div>
				<img src="img/yonghu.png" style="margin-top: -156px;"/>
				<textarea class="dtxq_plnr"></textarea>
			</div>
			<div><button class="dtxq_fban">发布</button></div>
		</div>
		<div class="row dtxq_pinglunquyu">
			<div>N条评论</div>
			<div class="dtxq_plzs">
				<div>					
					<div class="dtxq_yhtx"><img src="img/yonghu.png"/></div>
					<div class="dtxq_plxx">
						<div><span class="dtxq_yhmc">方志东</span><span class="dtxq_plsj">2016-08-09,20:40</span></div>
						<div class="dtxq_plcontent">阿斯顿节阿喀琉斯点解啊看似简单可拉家带口拉家带口拉家带口拉萨觉得卡拉三季度来看</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="dtxq_plzs">
				<div>					
					<div class="dtxq_yhtx"><img src="img/yonghu.png"/></div>
					<div class="dtxq_plxx">
						<div><span class="dtxq_yhmc">方志东</span><span class="dtxq_plsj">2016-08-09,20:40</span></div>
						<div class="dtxq_plcontent">阿斯顿节阿喀琉斯点解啊看似简单可拉家带口拉家带口拉家带口拉萨觉得卡拉三季度来看</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	
</body>
</html>
