<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>个人中心</title>
		<link rel="stylesheet" href="../../zhstatic/css/userCenter.min.css" />
	</head>
<body>
	<nav class='navbar navbar-default nav_ps'>
	</nav>
	<div class="banner"><img src="../../zhstatic/images/userCenter/userCenterbanner.jpg" alt=""></div>
	<footer style="margin-top: 40px;">
	<div class="beian">关于我们 | ©2010-2016 居屋网 | 京ICP备10044767号 | 京公网安备11010102000560号</div>		
	</footer>


    <script src="../../zhstatic/js/require.js" data-main="../../zhstatic/js/common"></script>
	<script>
		require(['common'], function () {
			require(['page/userCenter']);
		});
	</script>
</body>
</html>