@import
"base/_mixin",
"base/_variables",
"base/base",
"base/common";



.table{
	width:542px;
	margin:0 auto;
	.heade{
		height:117px;
		a{
			float:left;
			font-size:20px;
			color:#ccc;
			width:33%;
		}
		a.bg{
			color:#333;
		}
	}
}
.body{
	.header{
		display:inline-block;
		width:100px;
		height:100px;
		background:#ccc;
	}
	&>li{
		margin-bottom: 20px;
		label{
			display:inline-block;
			width:100px;

			text-align: right;
		}
		input{
			width:370px;
			margin-left: 10px;
		}
		select{
			margin-left: 10px;
			width: 200px;
		}
		#avatr-attach-container{
			display: inline-block;
			width:370px;
			margin-left: 10px;
			li{
				height:100px;
				width: 100px;
				a{
					display: block;
					height:98px;
					width: 98px;
					border: 1px dashed $baseBorder;
				}
			}
		}
	}
	p{
		padding:28px 0 28px 0;
		input{
			margin-left:35px;
			border-radius:4px;
		}
	}

}

.submit{
	width: 120px;
	@include button($height:30px)
}